@import "_fonts.scss";
@import "_mixins.scss";
@import "_variables.scss";

/*
 * Reset
 */
* {
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: $primary-font;
}
/*
 * GLOBAL
 */
.row{
    display: flex;
}
.container{
    padding: 2rem 4rem;
}
.col{
    flex: 1;
    padding: 0 1rem;

    img{
        width: 100%;
    }
    &.h-100 img{
        height: 300px;
        width: auto;
    }
}
.h-3{
    height: 500px;
    overflow: hidden;
}
.w-50{
    width: 50%;
}
.cols-center {
    .col, h3{
        justify-content: center;
        text-align: center;
    }
}
.center{
    display: flex;
    justify-content: center;
}
p{
    line-height: 2rem;
    letter-spacing: .1rem;
}
/*
 * Navbar
 */
#logo img{
    width: 300px;
}
nav{
 align-items: center;   
 justify-content: space-between;
 padding: 1rem 4rem;
 border-bottom: 1rem solid $primary-color;
}
.nav-bar{
    list-style: none;
    
    .nav-item{
        letter-spacing: .3rem;

        a{
            text-decoration: none;
            margin-left: 1rem;
            color: $dark-color;
            transition: all .3s ease-in-out;
    
            &:hover{
                color: $primary-color;
            }
        }
    }

    .btn{
        margin-left: 1rem;
    }

}
/*
 * Buttons
 */
.btn{
    padding: 0.4rem 1.2rem;
    border-radius: .4rem;
    transition: all .3s ease-in-out;
    text-decoration: none;
    cursor: pointer;

    &-primary{
        @include btn-primary();

        &:hover{
            @include btn-outline();
        }
    }

    &-outline{
        @include btn-outline();

        &:hover{
            @include btn-primary()
        }
    }
}
/*
 * Header
 */
.cover{
    height: 80vh;
    background-image: url('../images/bakground.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 5rem;

    h1{
        margin: 0;
        color: $light-color;

        &>span{
            display: flex;
            align-items: center;
        }
        span span{
            display: inline-block;
            background-color: $light-color;
            height: .3rem;
            width: 300px;
            margin-right: 10px;
        }
    }
}
/*
 * Titles
 */
h2{
    background-color: $primary-color;
    padding: 2rem 2rem;
    color: $light-color;
    font-size: 2rem;
    font-weight: 400;
    margin: 0;

    &.left{
        text-align: end;
    }
}
h3{
    display: flex;
    white-space: nowrap;
    align-items: center;
    letter-spacing: .2rem;

    &.right{
        text-align: right;

        &::before{
            @include title-bar();
            margin-right: 1rem;
        }
    }
    &.left{
        text-align: left;

        &::after{
            @include title-bar();
            margin-left: 1rem;
        }
    }
}
/*
 * Form
*/
.form-group{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: .5rem 0;
    padding: .4rem;

    label{
        margin-bottom: .5rem;
    }
    input, textarea{
        padding: 1rem;
        border: 1px solid $primary-color;
        border-radius: 5px;
    }
}